.parentView {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282828;

  div {
    flex-grow: 1;
    max-width: 700px;
  }

  button {
    font-style: 'OpenSans, Regular';
    font-size: 16px;
    line-height: 1;
    border-radius: 500px;
    padding: 21px 56px 19px;
    background-color: #03bb4f;
    color: #fff;
    border: 0px;
  }
}
